#page-header {
    background: black;
}
/* 首页文章 */
#recent-posts .recent-post-item .post_cover img.post-bg {
    border-radius: 30px;
    padding: 20px
}

#site-title {
    display: none;
}
#page-header #site-subtitle {
    font-size: 2.2em;
}